// ==============================
// Base - Applies to the entire Application
// =================================

// h5,
.main:nth-of-type(1) {
  margin-top:86px;
  padding-top: 20px;
  background: #fff;
  // padding:0 20px;
//   box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14),
//     0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.46875rem 2.1875rem rgba(90, 97, 105, 0.1), 0 0.9375rem 1.40625rem rgba(90, 97, 105, 0.1), 0 0.25rem 0.53125rem rgba(90, 97, 105, 0.12), 0 0.125rem 0.1875rem rgba(90, 97, 105, 0.1);
}
.container > .mw-container:not(.no-gutter) {
    padding-left: 20px;
    padding-right: 20px;
}
// .main-container{}
.main.container > #vertical  {
    width:100%;

}

.container {


  @media (min-width: $tablet) {
    width: 100%;
    max-width: var(--desktop);
  }
  @media (min-width: $desktop) {
    width: 100%;
    max-width: var(--hd);
  }
  @media (min-width: $hd) {
    width: 100%;
    max-width: var(--wide);
    margin: 0 auto;
    padding: 0;
  }
//   &:nth-of-type(1) #vertical div:not(.no-gutter) {
// //     max-width: 1440px;
//     padding-left:10px;
//     padding-right:10px;
//     margin-left: auto;
//     margin-right: auto;
//   }

  // .btn {
  //   display: inline-block;
  //   margin-bottom: 0;
  //   font-weight: normal;
  //   text-align: center;
  //   white-space: nowrap;
  //   vertical-align: middle;
  //   -ms-touch-action: manipulation;
  //   touch-action: manipulation;
  //   cursor: pointer;
  //   background-image: none;
  //   border: 1px solid transparent;
  //   padding: 12px 15px;
  //   font-size: 14px;
  //   font-weight: 600;
  //   line-height: 1.42857143;
  //   border-radius: 0px;
  //   letter-spacing: 2px;
  //   -webkit-user-select: none;
  //   -moz-user-select: none;
  //   -ms-user-select: none;
  //   user-select: none;
  // }
  .label-default {
    border-radius: 0;
    background-color: $gray3;
  }
}

// Helper Classes
// .mw-bs {
.grid-container {
  display: grid;
}

.grid-container--fill {
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}

// calc(width of desktop page / # of columns you want for the page)
.grid-container--fit {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(calc(#{$hd}/ 8), 1fr));
}
// }


@mixin grid($width, $gridcount) {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(calc(#{$width}/#{$gridcount}), 1fr)
  );
}



// icons -------------------------------

.fa,
.fas,
.fab {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  
}




.icon::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
