$wide: 1920px;
$hd: 1360px;
$desktop: 1028px;
$tablet: 768px;

$brand1: #033d58;
$brand2: #009688;
$brand3: #ff7c66;
$brand4: #0087cc;
$brand5: #fedb00;
$gray1: #eeeeee;
$gray2: #ababab;
$gray3: #808080;
$gray4: #454545;




// $color-primary: #6DB5CA; 
$color-primary: #444B8E; 
$color-secondary: #f2f3ff;
$color-accent: #559cb2;



body {

    /* Brand Colors */
    --b1: #033d58;
    --b2: #009688;
    --b3: #ff7c66;
    --b4: #0087cc;
    --b5: #fedb00;
    /* Brand Gray / Grey Colors */
    --g1: #eeeeee;
    --g2: #ababab;
    --g3: #808080;
    --g4: #454545;
    /* Sizes */
    --s0: 0px;
    --s5: 5px;
    --s10: 10px;
    --s20: 20px;
    --s25: 25px;
    --s30: 30px;
    --s40: 40px;
    --s50: 50px;
    --s60: 60px;
    --s70: 70px;
    --s80: 80px;
    --s90: 90px;
    /* Resolutions */
    --wide: 1920px;
    --hd: 1360px;
    --desktop: 1028px;
    --tablet: 768px;
    /* animation*/
    --timing: 700ms; 
    --motion: cubic-bezier(0.19, 1, 0.22, 1);


    --primary:#444B8E; 
    --secondary:#f2f3ff;
    --accent:#559cb2;
  }


/* Navigation ================================== */
$nav-height:76px;
