/* --------------------------------------------------------------------------
Flow Reset is to remove default styling from flow's existing stylesheets 
and bad styling decisions -_- WITHOUT using important tags. 
------------------------------------------------------------------------------ n*/
.mw-bs {
  background:initial;
  font-style: inherit;
  color: inherit;
  font-size: inherit;
  height:100%;
}

#manywho {
  overflow-y: inherit;
  max-width:100%;
}
.page-label:empty {
  display: none;
}
.main-container {
  padding-left:0; padding-right:0;
}
.help-block:empty {display:none;}
.mw-bs {
    .main-scroller {
        overflow-y: inherit;
      } /* removes scroller within a scoller */
      .main-container-inner {
        overflow: inherit;
      }
      
      label:empty {
        display: none;
      }
      
      .navbar > .container .navbar-brand,
      .navbar > .container-fluid .navbar-brand {
        margin-left: initial;
      }

/* Form Reset */

  .form-control {

    color: inherit;
    background-color: inherit;
    background-image: inherit;

    box-shadow: inherit;

  }
 .mw-outcomes > .row:not(.block) {
    display:block;
  }

}

